<mat-toolbar color="black" style="background-color: black">
	<span style="text-align: center; color: white"
		>Welcome!! Choose Your Adventure</span
	>
</mat-toolbar>

<div style="margin: 50px 150px 50px 150px">
	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Royal Caribbean Cruise</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(1)"
							routerLink="cruisedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img
					mat-card-xl-image
					src="../../assets/images/RCC_Cruise.jpg"
					style="float: left; margin-right: 10px"
				/>
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Norwegian Cruise</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(2)"
							routerLink="cruisedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="../../assets/images/Norwegian_Cruise.jpg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Virgin Voyages</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Facilis blanditiis harum dolor porro veritatis
						obcaecati labore maiores! Magni, quis nam eos quidem
						unde quasi nisi non animi, possimus sapiente
						quaerat?Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Corrupti magni sit iure illum illo
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(3)"
							routerLink="cruisedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="../../assets/images/Virgin_Cruise.jpg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>
</div>
