<mat-toolbar color="primary" class="mat-elevation-z6">
	<a routerLink="/" class="icon-container">
		<mat-icon>directions_boat</mat-icon>
		<span class="">HFX Cruise</span>
	</a>

	<!-- <span class="nav-spacer"></span> -->
	<div class="nav-items">
		<a mat-button>Packages</a>
		<a mat-button>Rent Your Cruise</a>
		<a mat-button>Events</a>
		<a routerLink="login" mat-button>Login</a>
		<!-- <mat-checkbox id="check"></mat-checkbox>
		<mat-icon for="check" class="material-symbols-rounded"> menu </mat-icon> -->
	</div>
</mat-toolbar>
