<mat-toolbar color="primary" class="mat-elevation-z6">
	<div class="icon-container">
		<mat-icon>directions_boat</mat-icon>

		<a mat-button color="primary" class="nav-buttons heading" routerLink="/"
			>HFX Cruise</a
		>
	</div>

	<!-- <span class="nav-spacer"></span> -->
	<div class="nav-items">
		<a mat-button color="primary" class="nav-buttons" routerLink="packagelist"
			>Packages</a>
		<a mat-button color="primary" class="nav-buttons">Rent Your Cruise</a>
		<a mat-button color="primary" class="nav-buttons" routerLink="event"
			>Events</a
		>
		<a mat-button color="primary" class="nav-buttons" routerLink="login"
			>Login</a
		>
		<!-- <mat-checkbox id="check"></mat-checkbox>
		<mat-icon for="check" class="material-symbols-rounded"> menu </mat-icon> -->
	</div>
</mat-toolbar>
