<footer class="mat-elevation-z2">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4 class="footer-title">About Us</h4>
				<ul class="footer-list">
					<li>
						<a href="#" class="footer-link mat-button"
							>Who we are</a
						>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Blog</a>
					</li>
					<li>
						<a routerLink="careers" class="footer-link mat-button"
							>Careers</a
						>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Explore</h4>
				<ul class="footer-list">
					<li>
						<a href="#" class="footer-link mat-button"
							>Destinations</a
						>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Cruises</a>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Tours</a>
					</li>
					<li>
						<a href="#" class="footer-link mat-button">Packages</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Rent</h4>
				<ul class="footer-list">
					<li>
						<a href="#" class="footer-link mat-button"
							>Rent a Cruise</a
						>
					</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4 class="footer-title">Contact Us</h4>
				<ul class="footer-list">
					<li>
						<p class="icon-container">
							<mat-icon class="material-icons"
								>location_on</mat-icon
							>
							123 Main Street, Anytown USA
						</p>
					</li>

					<li>
						<p class="icon-container">
							<mat-icon class="material-icons">phone</mat-icon> +1
							(123) 456-7890
						</p>
					</li>
					<li>
						<p class="icon-container">
							<mat-icon class="material-icons">email</mat-icon>
							info@hfxcruise.ca
						</p>
					</li>
				</ul>
			</div>
		</div>
		<mat-divider class="footer-divider"></mat-divider>
		<div class="row footer_content_wrapper">
			<div>
				<span> &copy; 2023 HFX Cruise. All Rights Reserved. </span>
			</div>
			<div class="footer-policy-block">
				<a href="#" class="footer-link mat-button">Privacy Policy</a>
				<div class="footer-line-small"></div>
				<a href="#" class="footer-link mat-button">Terms of Service</a>
			</div>
		</div>
	</div>
</footer>
