<mat-toolbar color="black" style="background-color: black;">
    <span style="text-align: center; color: white;">Welcome!! Choose Your Adventure</span>
</mat-toolbar>

<div style="margin: 50px 150px 50px 150px">
    <mat-card class="example-card" style="margin-left: 50px; margin-right: 50px;margin-top: 3%;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Royal Caribbean Cruise</mat-card-title>
                <mat-card-subtitle style="margin-top: 10px;">
                    <p>Unlock some of the most incredible travel destinations. Get on island time and unwind on some of
                        the
                        best beaches in the world, venture deep into the rainforests, and snorkel the most vibrant reefs
                        on
                        a Caribbean or Bahamas cruise getaway with the whole family.</p>
                    <p> Earn your wilderness badge as you cruise between the Alaska glaciers, pan for gold in
                        prospecting
                        towns, and trek across the rugged tundra on an Alaska vacation. </p>
                    <div><button mat-raised-button color="primary" style="margin-top: 15px;" (click)="onClick(1)">See more..</button></div>
                </mat-card-subtitle>
                <img mat-card-xl-image src="assets/1.jpg" style="float: left; margin-right: 10px;">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-left: 50px; margin-right: 50px; margin-top: 3%;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Norwegian Cruise</mat-card-title>
                <mat-card-subtitle style="margin-top: 10px;">
                    <p>Embark on an adventure of a lifetime with Norwegian Cruise Line. With destinations all over the
                        world, you can discover breathtaking landscapes, explore vibrant cultures, and indulge in
                        world-class cuisine on board our luxurious ships.</p>
                    <p>Explore the hidden gems of Europe, from the historic streets of Rome to the stunning fjords of
                        Norway. Or, set sail to Alaska and witness the majestic beauty of glaciers and towering
                        mountains.</p>
                    <p>Join us for an unforgettable experience, and discover the world like never before with Norwegian
                        Cruise Line.</p>
                    <div><button mat-raised-button color="primary" style="margin-top: 15px;" (click)="onClick(2)">See more..</button></div>
                </mat-card-subtitle>
                <img mat-card-xl-image src="assets/2.png">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-left: 50px; margin-right: 50px;margin-top: 3%;">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Virgin Voyages</mat-card-title>
                <mat-card-subtitle style="margin-top: 10px;">
                    <p>"Welcome to Virgin Voyages, where we are redefining the cruising experience. Our modern and sleek
                        ships offer a unique twist on traditional cruising, with innovative designs and exciting
                        features that will leave you feeling like a rockstar.</p>
                    <p>Set sail on a journey of discovery and adventure, with destinations that span the globe. Explore
                        the pink sands of Bermuda to the turquoise waters of the
                        Bahamas. Discover the rich history and culture of Europe, from the ancient ruins of Rome to the
                        chic streets of Barcelona.</p>
                    <div><button mat-raised-button color="primary" style="margin-top: 15px;" (click)="onClick(3)">See more..</button></div>
                </mat-card-subtitle>
                <img mat-card-xl-image src="assets/3.png">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>
