<div class="p-2">
    <div class="row my-4" style="margin-left: 15%;">
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="headings mb-4">About us</h5>

            <ul class="order">
                <li>
                    <a href="#!" class="info">Who are we</a>
                </li>
                <li>
                    <a href="#!" class="info">Blog</a>
                </li>
                <li>
                    <a href="#!" class="info">Contact Us</a>
                </li>
                <li>
                    <a href="#!" class="info">Terms of Services</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="headings mb-4">Anouncements</h5>

            <ul class="order">
                <li>
                    <a href="#!" class="info">General information</a>
                </li>
                <li>
                    <a href="#!" class="info">Upcoming up events</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="headings mb-4">Contact</h5>

            <ul class="order">
                <li>
                    <p>Halifax, Nova Scotia</p>
                </li>
                <li>
                    <p>+ 789-456-123</p>
                </li>
                <li>
                    <p>halifaxcruisetour@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="headings mb-4">Careers</h5>

            <ul class="order">
                <li>
                    <a routerLink='/careers' class="info">Careers</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="headings mb-4">Rent cruise</h5>

            <ul class="rent">
                <li>
                    <a routerLink='/rent' class="info">Rent</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="aligned p-3">
    © 20203 Copyright:
    <a class="info">HalifaxCruiseTour</a>
</div>

