<mat-toolbar color="black" style="background-color: black">
	<span style="text-align: center; color: white"
		>Welcome!! Explore your cruise vacation</span
	>
</mat-toolbar>

<div style="margin: 50px 150px 50px 150px">
	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Africa Cruise Tours</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Unlock some of the most incredible travel destinations.
						Get on island time and unwind on some of the best
						beaches in the world, venture deep into the rainforests,
						and snorkel the most vibrant reefs on a Africa cruise 
						getaway with the whole family.
					</p>
					<p>
						Earn your wilderness badge as you cruise between the
						African forests, pan for gold in prospecting towns, and
						trek across the rugged tundra on an African vacation.
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(1)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img
					mat-card-xl-image
					src="https://upload.wikimedia.org/wikipedia/commons/2/23/Flag-map_of_South_Africa.svg"
					style="float: left; margin-right: 10px"
				/>
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Europe Tour</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						Embark on an adventure of a lifetime with America-Europe
						Cruise Line. With destinations all over the europe, you
						can discover breathtaking landscapes, explore vibrant
						cultures, and indulge in world-class cuisine on board
						our luxurious ships.
					</p>
					<p>
						Explore the hidden gems of Europe, from the historic
						streets of Rome to the stunning fjords of Norway. Or,
						set sail to Alaska and witness the majestic beauty of
						glaciers and towering mountains.
					</p>
					<p>
						Join us for an unforgettable experience, and discover
						the world like never before with european Cruise Line.
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(2)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="https://coimages.sciencemuseumgroup.org.uk/images/15/44/pic_1978_928.jpg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>

	<mat-card
		class="example-card"
		style="margin-left: 50px; margin-right: 50px; margin-top: 3%"
	>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Americas Ocean Tour</mat-card-title>
				<mat-card-subtitle style="margin-top: 10px">
					<p>
						"Welcome to The America, where we are redefining the
						cruising experience. Our modern and sleek ships offer a
						unique twist on traditional cruising packages, with innovative
						routes and adventurous tour that will leave you
						feeling like a rockstar.
					</p>
					<p>
						Set sail on a journey of discovery and adventure, with
						destinations that span the globe. Explore the mexican 
						beaches and california streets to the turquoise waters of the Hawai.
						Discover the rich history and culture of America, from
						the ancient ruins of Lost City to the chic streets of
						Vegas.
					</p>
					<div>
						<button
							mat-raised-button
							color="primary"
							style="margin-top: 15px"
							(click)="onClick(3)"
							routerLink="packagedetails"
						>
							See more..
						</button>
					</div>
				</mat-card-subtitle>
				<img mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/4/49/Flag-map_of_Central_America.svg" />
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content> </mat-card-content>
	</mat-card>
</div>
